.product-list-container {
    max-width: 1000px;
    margin:  auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  h2 {
    text-align: center;
  }
  
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 3px;
}

.button-group {
  display: flex;
  gap: 3px;
  justify-content: center;
}


button {
  background-color: #e53e3e;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #c53030;
}
button {
  cursor: pointer;
}
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background: #007bff;
    color: white;
  }
  
  .product-img {
    width: 80px;
    height: auto;
    border-radius: 5px;
  }
  
  td:nth-child(6), td:nth-child(7) {
    font-weight: bold;
  }

  .text-green {
    color: green;
  }
  
.text-red {
    color: red;
  }
  