<div class="form-container">
    <div class="max-w-md bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-bold mb-4 text-center">Chỉnh sửa Banner</h2>
  
      <form [formGroup]="bannerForm" (ngSubmit)="submitForm()">
        <div class="mb-4">
          <label class="block font-medium">Tên Banner</label>
          <input type="text" formControlName="bannerName" class="w-full p-2 border rounded" />
        </div>
  
        <div class="mb-4">
          <label class="block font-medium">Chọn Ảnh Mới</label>
          <input type="file" (change)="onFileSelect($event)" class="w-full p-2 border rounded" />
        </div>
  
        <button 
          type="submit" 
          class="bg-green-500 text-white px-4 py-2 rounded w-full transition duration-300 ease-in-out hover:bg-green-700 flex items-center justify-center"
          [disabled]="bannerForm.invalid || loading">
          <span *ngIf="!loading">Cập Nhật</span>
          <span *ngIf="loading" class="loader"></span>
        </button>
      </form>
    </div>
  </div>
  