<div class="banner-container">
    <h2>Quản Lý Banner</h2>  
    <div class="table-container">
      <div class="button-container">
        <button mat-raised-button color="primary" routerLink="/banner-create">Thêm</button>
      </div>
            <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Hình ảnh</th>
            <th>Tên Banner</th>
            <th>ID</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banner of banner; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <img [src]="'http://localhost:8080/api/public/banners/image/'+banner.image" 
                   [alt]="banner.bannerName" 
                   width="100" height="100">
            </td>
            <td>{{ banner.bannerName }}</td>
            <td>{{ banner.bannerId }}</td>
            <td>
              <button >Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  