<div class="container mt-4">
    <h2 class="text-center mb-4">Danh Sách Người Dùng</h2>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Họ và Tên</th>
                    <th>Email</th>
                    <th>Số Điện Thoại</th>
                    <th>Quyền</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="user-table-body">
                <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobileNumber }}</td>
                    <td>{{ user.roles?.roleId}}</td>
                    <td >
                        <button class="btn btn-danger btn-sm me-2 ">Xóa</button>
                       <button  routerLink="['/user-account/edit',user.userId]" style="color: white;" class="btn btn-primary btn-sm"  >
                          Sửa
                       </button> 
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <pagination-controls class="paginate" (pageChange)="setPage($event)"></pagination-controls> -->
    </div>

    <div *ngIf="!users || users.length === 0" class="text-center mt-3">
        <p>Không có người dùng nào!</p>
    </div>
    
</div>
